#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(auto-fill, 150px);

    height: 100%;

    justify-content: center;
    align-items: center;

    padding: 30px 0;
    box-sizing: border-box;
}
