#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 1fr 1fr 1fr;

    height: 100%;

    justify-content: center;
    align-items: center;

    padding: 30px 0;
}
