body {
    margin: 0;
    height: 100dvh;
    width: 100%;
    background-color: #0c0c1c;
    color: #e4e8f2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#root {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
}
